*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* [Header]Nav bar */

.cont-header{
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
}

.row-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar{
    padding: 10px;
}

.row-header div:first-child{
    flex-grow: 1;
}

.row-header div:nth-child(2){
    flex-grow: 5;
    text-align: center;
}

.row-header div:last-child{
    flex-grow: 1;
    text-align: right;
}

.bg-nav-bar{
    background-color: rgb(37,94,233);
}

/* Items NavBar */

.nav-bar a{
    margin: 0 15px;
    text-decoration: none;
    font-weight: 900;
}

.nav-bar span{
    background-color: white;
    border-radius: 30px;
    padding: 8px 15px;
    font-weight: 600;
}

/* [Main] Cont Background */

.cont-bg{
    max-width: 1200px;
    min-width: 800px;
    margin: 0 auto;
}

.row-bg{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-box{
    max-width: 1000px;
    text-align: center;
}

.bg-jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* Cont box-1 */

.cont-box{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.row-box{
    max-width: 1200px;
    display: flex;
}

.wave{
    background-image: url(../img/Wave.svg);
    height: 150px;
    width: auto;
    filter: opacity(0.5);
}

/* Green box */
.cont-box-gr{
    max-width: 1200px;
    margin: 0 auto;
}

.row-box-gr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.box-text{
    max-width: 1050px;
    text-align: center;
}

.cont-button{
    max-width: 1200px;
    padding: 70px;
}
.row-cont-button{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* [Footer] */

.cont-footer{
    max-width: 1200px;
    padding-top: 10px;
    margin: 0 auto;
}

.row-footer{
    display: flex;
}

.box-footer{
    padding: 15px;
    max-width: 400px;
}

.row-box-footer{
    display: flex;
}

.col-footer{
    padding: 0px 22px;
    min-width: 160px;
}

.border-bottom{
    border-bottom: 1px solid rgb(49,52,139);
}

/* end footer */

.end-footer{
    width: 1200px;
    min-height: 70px;
    margin: 25px auto auto;
}

.row-end-footer{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo,.footer-button{
    padding: 5px;
}



/* Items Footer */

li{
    color: white;
    font-size: 14px;

}

.style-list{
    list-style-type: none;
    padding: 20px;
    line-height: 40px;
    font-weight: 800;
}

.li-title{
    color: rgb(49,52,139);
}

#italy{
    height: 15px;
}
#italy-text{
    font-size: 20px;
}

#italy-text i{
    vertical-align: middle;
}

.social-box{
    margin-top: 20px;
}

.social-box i{
    padding: 0 5px;
}

/* Items end footer */

.footer-button input{
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 25px;
    border: none;
}



/* Reusable classes */
.text-white{
    color: white;
}
.text-title{
    font-size: 50px;
}

.text-content{
    line-height: 35px;
    font-size: 24px;
}

.text-strong{
    font-weight: 700;
}

.margin-bot20{
    margin-bottom: 20px;
}

.left-top-padding{
    padding-left: 130px;
    padding-top: 30px;
}

.padding-bot40{
    padding-bottom: 40px;
}

.ver-al{
    vertical-align: middle;
}

.button{
    padding: 10px 30px;
    font-size: 27px;
    border: 0;
    border-radius: 30px;
    margin: 35px 20px;
}

.rotate{
    transform: rotate(180deg);
}


/* Background Color */

.bg-purple{
    background-color: rgb(49,52,139);
}
.bg-black{
    background-color: rgb(35,39,42);
}

.bg-grey{
    background-color: rgba(207, 207, 209, 0.5);
}